@charset "UTF-8";

/*
id => HTML = # => CSS
class => HTML = . => CSS
*/

body {
    background-color: #8dff8b;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #223322;
}
h1#principal {
    text-align: center;
    background-color: #2F5C2E;
    color: white;
}
h2 {
    color: #2F5C2E;
}
.basico {
    color: #2F5C2E;
}
.intermediario {
    color: #5c5b2e
}
.avancado {
    color: #5c2e2e
}
.destaque {
    background-color: rgba(196, 196, 81, 0.5);
}