@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #AE361B, #C56C2A);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #531a0da2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #66C4D9;
    text-align: center;
    text-shadow: 1px 1px 2px #6d2211c2;
}
h2 {
    color: #010510;
}
p {
    text-align: justify;
}